<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" th:href="@{../../css/common.css}" href="css/common.css" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{../../css/margins.css}" href="css/margins.css" type="text/css" media="all"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body class="backgroundPic">
    <div class="container bg-grey opacity-07">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 panel ">
                <form action="#" method="post" th:action="@{/editProfile}" th:object="${profile}">
                    <!--Personal information-->
                    <div class="row h2 margin-left-30">
                        <h2>Personal information</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Name:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" th:value="${profile.firstName}" th:field="${profile.firstName}"
                                   id="name" class="width-100 input-lg text-input text-black">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Surname:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" placeholder="surname" th:field="${profile.lastName}"
                                   th:value="${profile.lastName}" id="surname" class="width-100 input-lg text-input text-black"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Pathronomic:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" placeholder="Pathronomic" th:field="${profile.middleName}" id="Pathronomic"
                                   th:value="${profile.middleName}" class="width-100 input-lg text-input text-black"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Email:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" placeholder="Email" th:field="${profile.email}" id="email"
                                   th:value="${profile.email}" class="width-100 input-lg text-input text-black"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Birth date:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="date" name="birthday" id="birthDate" class="input-lg date-input text-black"/>
                        </div>
                    </div>

                    <!--Education-->
                    <div class="row h2 margin-left-30"><h2>Education</h2></div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h3">University:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" th:field="${education.university}" th:value="${education.university}"
                                   placeholder="university" id="university" class="width-100 input-lg text-input text-black"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Faculty:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" th:field="${education.faculty}" th:value="${education.faculty}"
                                   placeholder="faculty" id="faculty" class="width-100 input-lg text-input text-black"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Department:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" th:field="${education.faculty}" th:value="${education.faculty}"
                                   placeholder="department" id="department" class="width-100 input-lg text-input text-black"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Speciality:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" th:field="${education.faculty}" th:value="${education.faculty}"
                                   placeholder="speciality" id="speciality" class="width-100 input-lg text-input text-black"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Courses:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" th:field="${profile.courses}" th:value="${profile.courses}"
                                   placeholder="courses" id="courses" class="width-100 input-lg text-input text-black"/>
                        </div>
                    </div>

                    <!--Skills-->
                    <div class="row h2 margin-left-30"><h2>Skills</h2></div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Skills:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <textarea th:value="${profile.skills}" th:field="${profile.skills}"
                                      placeholder="skills" rows="3" id="skills" class="width-100 text-input text-black"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2 margin-left-16 h4">Languages:</div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <input type="text" th:field="${profile.languages}" th:value="${profile.languages}"
                                   placeholder="languages" id="languages" class="width-100 input-lg text-input text-black"/>
                        </div>
                    </div>

                    <!--Work experience-->
                    <div class="row h2 margin-left-30"><h2>Work experience</h2></div>
                    <div class="row" th:each="item : ${experience}" >
                        <div class="col-sm-3 col-md-3 col-lg-3 margin-left-16 h4">
                            <input type="text" th:value="${item.year}" placeholder="year" class="width-90 text-input"/>
                        </div>
                        <div class="col-sm-7 col-md-7 col-lg-7 margin-left-8">
                            <textarea th:value="${item.duties}" th:placeholder="${item.duties}" rows="4"
                                      class="width-100 text-input text-black"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-sm-3 col-md-3 col-lg-3 margin-top-16">
                        <button type="submit" class="btn btn-danger width-90">Cancel</button>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 margin-top-16">
                        <button type="submit" class="btn btn-success width-90">Save</button>
                    </div>


                </form>
            </div>
        </div>
    </div>

</body>
</html>