/Maven__antlr_antlr_2_7_7.xml
/Maven__aopalliance_aopalliance_1_0.xml
/Maven__com_fasterxml_classmate_1_3_0.xml
/Maven__commons_dbcp_commons_dbcp_1_2_2.xml
/Maven__commons_logging_commons_logging_1_2.xml
/Maven__commons_pool_commons_pool_1_3.xml
/Maven__dom4j_dom4j_1_6_1.xml
/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
/Maven__javax_validation_validation_api_1_1_0_Final.xml
/Maven__ognl_ognl_3_1_12.xml
/Maven__org_aspectj_aspectjrt_1_8_10.xml
/Maven__org_attoparser_attoparser_2_0_4_RELEASE.xml
/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
/Maven__org_hibernate_hibernate_core_5_2_9_Final.xml
/Maven__org_hibernate_hibernate_validator_5_1_2_Final.xml
/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/Maven__org_javassist_javassist_3_20_0_GA.xml
/Maven__org_jboss_jandex_2_0_3_Final.xml
/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_1_Final.xml
/Maven__org_postgresql_postgresql_9_4_1212_jre7.xml
/Maven__org_slf4j_jcl_over_slf4j_1_7_24.xml
/Maven__org_slf4j_slf4j_api_1_7_25.xml
/Maven__org_springframework_data_spring_data_commons_1_13_1_RELEASE.xml
/Maven__org_springframework_data_spring_data_jpa_1_11_1_RELEASE.xml
/Maven__org_springframework_security_spring_security_config_4_2_3_RELEASE.xml
/Maven__org_springframework_security_spring_security_core_4_2_3_RELEASE.xml
/Maven__org_springframework_security_spring_security_web_4_2_3_RELEASE.xml
/Maven__org_springframework_spring_aop_4_3_11_RELEASE.xml
/Maven__org_springframework_spring_beans_4_3_11_RELEASE.xml
/Maven__org_springframework_spring_context_4_3_11_RELEASE.xml
/Maven__org_springframework_spring_core_4_3_11_RELEASE.xml
/Maven__org_springframework_spring_expression_4_3_11_RELEASE.xml
/Maven__org_springframework_spring_jdbc_4_3_11_RELEASE.xml
/Maven__org_springframework_spring_orm_4_3_11_RELEASE.xml
/Maven__org_springframework_spring_tx_4_3_11_RELEASE.xml
/Maven__org_springframework_spring_web_4_3_11_RELEASE.xml
/Maven__org_springframework_spring_webmvc_4_3_11_RELEASE.xml
/Maven__org_thymeleaf_extras_thymeleaf_extras_springsecurity4_3_0_0_RELEASE.xml
/Maven__org_thymeleaf_thymeleaf_3_0_8_RELEASE.xml
/Maven__org_thymeleaf_thymeleaf_spring4_3_0_8_RELEASE.xml
/Maven__org_unbescape_unbescape_1_1_5_RELEASE.xml
